<?xml version='1.0' encoding='utf-8'?>
<widget id="com.azuredog.dog" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
<icon src="icon.png" />
 <preference name="orientation" value="landscape" />   <name>Pooch</name>
    <description>
        DORG!
    </description>
    <author email="lucasdragonia@gmail.com" >
        Azure Dog Team    </author>
   <content src="index.html" />
    <access origin="*" />
</widget>
 